{% extends 'base.html.twig' %}

{% block body %}
  <section class="cards-list">

    {% for lesson_card in cards %}
      <article>
        <a href="{{ path('lesson_card_detail', {id: lesson_card.id}) }}" title="Voir la fiche">{{ lesson_card.name }}</a>
      </article>
    {% endfor %}

  </section>
{% endblock %}