{% extends 'base.html.twig' %}

{% block body %}
  <section class="cards-list">

    <article>
      <a href="#">Procédure d'installation</a>
    </article>

    <article>
      <a href="#">Les commandes make utiles</a>
    </article>

    <article>
      <a href="#">Composer</a>
    </article>


    <article>
      <a href="#">Twig</a>
    </article>

  </section>
{% endblock %}