html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    background-color: honeydew;
    font-family: 'Rubik', sans-serif;
    background-image: url("../img/fabien-potencier.jpg");
    background-size: 120px;
    display: flex;
    flex-direction: column;
}

header,
main,
footer {
    background-color: rgba(255,255,255,0.95);
    padding: 20px;
    width: 100%;
    max-width: 800px;
    margin: 0 auto 20px auto;
}

main {
    flex: 1;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: fuchsia;
}

.main-logo {
    display: flex;
    align-items: center;
    font-size: 21px;
    margin-bottom: 10px;
}

.main-logo img {
    height: 30px;
    margin-right: 5px;
}

.top-nav {
    display: flex;
}

.top-nav a {
    display: block;
    padding: 3px 7px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-right: 10px;
}

.cards-list article {
    margin-bottom: 20px;
}

footer {
    margin-bottom: 0;
}

/* form */
label {
    display: block;
}

.form-check label {
    display: initial;
}

input[type="text"],
textarea {
    margin-bottom: 15px;
}

















