{% extends 'base.html.twig' %}

{% block body %}
    <h1>Créer une nouvelle fiche</h1>
    <div>
        {{ form(card_form) }}
    </div>

    <script>
        var simplemde = new SimpleMDE();
    </script>
{% endblock %}

{% block title %}

{% endblock %}

