{% extends 'base.html.twig' %}

{% block body %}
    <h1>Créer une nouvelle fiche</h1>
    <div>
        {{ form(card_form) }}
    </div>

    {# active l'éditeur de markdown sur les textareas. voir base.html.twig #}
    <script>var simplemde = new SimpleMDE({showIcons: ["code"]});</script>
{% endblock %}

{% block title %}

{% endblock %}

