{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ lesson_card.name }}</h1>
    <div>
        {#
            le contenu des fiches est en "markdown" en bdd... je le convertis en html ici
            les blocs de code sont affichés joliment grâce à prism.js (voir base.html.twig)
        #}
        {{ lesson_card.content|markdown_to_html }}
    </div>
{% endblock %}

{% block title %}

{% endblock %}

